


.main{
    border: 2px solid;
	border-radius: 6px;
	width: 100%;
	height: auto;


	.main__intro{
		
		margin-top: 18.75rem; /* 300 */
		background-color: rgb(27, 197, 240);
		height: 1.875rem; /* 30 */
		
	
	
		.main__intro__titulo{
			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
			font-style: italic;
			font-weight: normal;
			font-size:  1.875rem; /* 30 */
			text-align: center;
			line-height: normal;
	
	
		}
	
	}
	// .cuerpo {
	// 	width: 100% ;
	// 	height: auto;
	// 	background-color: red;
	// 	display: grid;
	// 	grid-template-columns: repeat(3, 1fr);
	// 	gap: 20px;
	// 	&__galeria {
	// 		display: flex;
	// 		flex-direction: column;
	// 		width: 270px;
	// 		height: 250px;
	// 		position: relative;

	// 	} 
	// }
	
}

.foto {
	
	width: 100%;
}


.main__galeria1{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
    background-color: $colorfondo; 
	padding-bottom: 400px;
	pa

		p{
			
			font-size: 20px;
			transform: translate(80px,4px);
			
		}



		.main__galeria1__foto1{

				img{
					height: 270px;
					width: 400px;
					background-repeat: no-repeat;
					background-size: 100%;
					margin: 1.25rem 1.25rem 1.25rem 5rem  ;
					justify-content: center;
					align-items: center;
					font-size: 1px;
					
					}




		}


		.main__galeria1__foto2{

				img{
					height: 270px;
					width: 400px;
					background-repeat: no-repeat;
					background-size: 100%;
					margin: 1.25rem 1.25rem 1.25rem 5rem  ;
					justify-content: center;
					align-items: center;
					font-size: 1px;
					
					}

			

			



		}


		.main__galeria1__foto3{

				img{
					height: 270px;
					width: 400px;
					background-repeat: no-repeat;
					background-size: 100%;
					margin: 1.25rem 1.25rem 1.25rem 5rem  ;
					justify-content: center;
					align-items: center;
					font-size: 1px;
					
					}
			
			






		}


}



.main__galeria2{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
    background-color: $colorfondo; 
	padding-bottom: 400px;


		p{
			
			font-size: 20px;
			transform: translate(80px,4px);
			
		}



		.main__galeria2__foto4{
			
				img{
					height: 270px;
					width: 400px;
					background-repeat: no-repeat;
					background-size: 100%;
					margin: 1.25rem 1.25rem 1.25rem 5rem  ;
					justify-content: center;
					align-items: center;
					font-size: 1px;
					
					}
			






		}



		.main__galeria2__foto5{

				img{
					height: 270px;
					width: 400px;
					background-repeat: no-repeat;
					background-size: 100%;
					margin: 1.25rem 1.25rem 1.25rem 5rem  ;
					justify-content: center;
					align-items: center;
					font-size: 1px;
					
					}
				
			





		}


		.main__galeria2__foto6{

				img{
					height: 270px;
					width: 400px;
					background-repeat: no-repeat;
					background-size: 100%;
					margin: 1.25rem 1.25rem 1.25rem 5rem  ;
					justify-content: center;
					align-items: center;
					font-size: 1px;
					
					}
			







		}

}


.main__galeria3{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
    background-color: $colorfondo; 
	padding-bottom: 400px;


		p{
			
			font-size: 20px;
			transform: translate(80px,4px);
			
		}


		.main__galeria3__foto7{

				img{
					height: 270px;
					width: 400px;
					background-repeat: no-repeat;
					background-size: 100%;
					margin: 1.25rem 1.25rem 1.25rem 5rem  ;
					justify-content: center;
					align-items: center;
					font-size: 1px;
					
					}
			







		}



		.main__galeria3__foto8{

			img{
				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				
				}
			
			




		}



		.main__galeria3__foto9{

			img{
				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				
				}
			
			






		}

}


.main__galeria4{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
    background-color: $colorfondo; 
	padding-bottom: 400px;


		p{
			
			font-size: 20px;
			transform: translate(80px,4px);
			
		}


		.main__galeria4__foto10{

			img{
				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				
				}
			
			




		}


		.main__galeria4__foto11{

			img{
				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				
				}
			
			





		}


		.main__galeria4__foto12{

			img{
				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				
				}
			


			




		}
}


.main__galeria5{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
    background-color: $colorfondo; 
	padding-bottom: 400px;


		p{
			
			font-size: 20px;
			transform: translate(80px,4px);
			
		}

		.main__galeria5__foto13{

			img{
				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				
				}
			
			
			




		}


		.main__galeria5__foto14{

			img{
				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				
				}


			



		}


		.main__galeria5__foto15{

			img{
				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				
				}






		}
}

/* fotos tortas */
.main__tortas__galeria1{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
    background-color: $colorfondo; 
	padding-bottom: 400px;


	p{
		
		font-size: 20px;
		transform: translate(80px,4px);
		
	}
		
		.main__tortas__galeria1__foto1{

			img{
				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				
				}
			

		}



		.main__tortas__galeria1__foto2{
			
			img{
				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				
			}
			

		}


		.main__tortas__galeria1__foto3{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}
	
}

.main__tortas__galeria2{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
    background-color: $colorfondo; 
	padding-bottom: 400px;

		p{
			
			font-size: 20px;
			transform: translate(80px,4px);
		}


		.main__tortas__galeria2__foto4{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}


		.main__tortas__galeria2__foto5{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}


		.main__tortas__galeria2__foto6{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}
}

.main__tortas__galeria3{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
    background-color: $colorfondo;
	padding-bottom: 400px; 


		p{
			
			font-size: 20px;
			transform: translate(80px,4px);
		}


		.main__tortas__galeria3__foto7{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}


		.main__tortas__galeria3__foto8{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}

		.main__tortas__galeria3__foto9{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}
}



.main__tortas__galeria4{

    display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		width: 100%;
		height:18.75rem; /* 300 */
		margin: auto;
	    background-color: $colorfondo; 
		padding-bottom: 400px;



			p{
			
				font-size: 20px;
				transform: translate(80px,4px);
			}

		.main__tortas__galeria4__foto10{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}


		.main__tortas__galeria4__foto11{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}

		.main__tortas__galeria4__foto12{

				img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}
}

/* termina fotos tortas */


/* fotos pasta */

.main__pasta__galeria1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	height:auto; /* 300 */
	margin: auto;
    background-color: $colorfondo; 
	padding-bottom: 50px;

		// .fotos {
		// 	width: 100%;
		// 	display: grid;
		// 	gap: 20px;
		// 	grid-template-columns: repeat(3, 1fr);
		// }

			

		div{
			padding-top: 20px;
			p{
				transform: translate(100px);
				font-size: 20px;
			}

			.main__pasta__galeria1__foto1{
				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				

					img{
						height: 270px;
						width: 400px;
					}
					
			}
			
		
			.main__pasta__galeria1__foto2{
				height: 270px;
					width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				

					img{
						height: 270px;
						width: 400px;
					}
						
			}


			.main__pasta__galeria1__foto3{
				height: 270px;
					width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				

					img{
					height: 270px;
					width: 400px;
					}

			}
		}
				

}


/* termina foto pasta */





/* fotos merienda */
.main__merienda__galeria1{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
    background-color: $colorfondo; 
	padding-bottom: 400px;


	p{
		
		font-size: 20px;
		transform: translate(80px,4px);
	}
		
		.main__merienda__galeria1__foto1{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}



		.main__merienda__galeria1__foto2{
			
			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}


		.main__merienda__galeria1__foto3{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}
	
}

.main__merienda__galeria2{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
    background-color: $colorfondo; 
	padding-bottom: 400px;

		p{
			
			font-size: 20px;
			transform: translate(80px,4px);
		}


		.main__merienda__galeria2__foto4{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}


		.main__merienda__galeria2__foto5{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}


		.main__merienda__galeria2__foto6{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}
}

.main__merienda__galeria3{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
    background-color: $colorfondo;
	padding-bottom: 400px; 


		p{
			
			font-size: 20px;
			transform: translate(80px,4px);
		}


		.main__merienda__galeria3__foto7{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}


		.main__merienda__galeria3__foto8{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}

		.main__merienda__galeria3__foto9{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}
}



.main__merienda__galeria4{

    display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		width: 100%;
		height:18.75rem; /* 300 */
		margin: auto;
	    background-color: $colorfondo; 
		padding-bottom: 400px;



			p{
			
				font-size: 20px;
				transform: translate(80px,4px);
			}

		.main__merienda__galeria4__foto10{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}


		.main__merienda__galeria4__foto11{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}

		.main__merienda__galeria4__foto12{

				img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}
}


.main__merienda__galeria5{

    display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		width: 100%;
		height:18.75rem; /* 300 */
		margin: auto;
	    background-color: $colorfondo; 
		padding-bottom: 400px;

			p{
			
				font-size: 20px;
				transform: translate(80px,4px);
			}


		.main__merienda__galeria5__foto13{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}


		.main__merienda__galeria5__foto14{

			img{
				height: 270px;
				width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;
			}
			

		}
}


/* termina fotos merienda */




/* Desayunos */

.main__desayuno__galeria1{

	
        display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		width: 100%;
		height:18.75rem; /* 300 */
		margin: auto;
	    background-color: $colorfondo; 
		padding-bottom: 400px;


		p{
			
			font-size: 20px;
			transform: translate(-420px,290px);
		}
			.main__desayuno__galeria1__foto1{

				img{
				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				}
				

			}



			.main__desayuno__galeria1__foto2{

				img{
					height: 270px;
					width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				}
				
				

			}


			.main__desayuno__galeria1__foto3{

				img{
					height: 270px;
					width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;
				}
				
				

			}
	
}

.main__desayuno__galeria2{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
	background-color: $colorfondo; 
	padding-bottom: 400px;

		p{
			font-size: 20px;
			transform: translate(-420px,290px);
		}

			.main__desayuno__galeria2__foto4{

				img{
					height: 270px;
					width: 400px;
					background-repeat: no-repeat;
					background-size: 100%;
					margin: 1.25rem 1.25rem 1.25rem 5rem  ;
					justify-content: center;
					align-items: center;
					font-size: 1px;
					}
				
				

			}


			.main__desayuno__galeria2__foto5{

				img{
					height: 270px;
					width: 400px;
					background-repeat: no-repeat;
					background-size: 100%;
					margin: 1.25rem 1.25rem 1.25rem 5rem  ;
					justify-content: center;
					align-items: center;
					font-size: 1px;
					}

			}


			.main__desayuno__galeria2__foto6{

				img{
					height: 270px;
					width: 400px;
					background-repeat: no-repeat;
					background-size: 100%;
					margin: 1.25rem 1.25rem 1.25rem 5rem  ;
					justify-content: center;
					align-items: center;
					font-size: 1px;
					}
				
				

			}


}


.main__desayuno__galeria3{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
	background-color: $colorfondo; 
	padding-bottom: 400px;

		p{
			font-size: 20px;
			transform: translate(-1200px,290px);
		}

			.main__desayuno__galeria3__foto7{

				img{
					height: 270px;
					width: 400px;
					background-repeat: no-repeat;
					background-size: 100%;
					margin: 1.25rem 1.25rem 1.25rem 5rem  ;
					justify-content: center;
					align-items: center;
					font-size: 1px;
					transform: translate(-300px);
				}
				
				

			}


		

}







/* termina desayunos */



/* fotos postre */

.main__postre__galeria1{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
	background-color: $colorfondo; 
	padding-bottom: 400px;
	padding-left: 120px;

		p{
				
			font-size: 20px;
			transform: translate(-420px,290px);
		}

		.main__postre__galeria1__foto1{
			height: 270px;
			width: 400px;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 1.25rem 1.25rem 1.25rem 5rem  ;
			justify-content: center;
			align-items: center;
			font-size: 1px;

				img{
					height: 270px;
					width: 400px;
				}

		}


	.main__postre__galeria1__foto2{

		height: 270px;
		width: 400px;
		background-repeat: no-repeat;
		background-size: 100%;
		margin: 1.25rem 1.25rem 1.25rem 5rem  ;
		justify-content: center;
		align-items: center;
		font-size: 1px;

			img{
				height: 270px;
				width: 400px;
			}



	}


	.main__postre__galeria1__foto3{

		height: 270px;
		width: 400px;
		background-repeat: no-repeat;
		background-size: 100%;
		margin: 1.25rem 1.25rem 1.25rem 5rem  ;
		justify-content: center;
		align-items: center;
		font-size: 1px;

			img{
				height: 270px;
				width: 400px;
			}

	}



}



.main__postre__galeria2{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
	height:18.75rem; /* 300 */
	margin: auto;
	background-color: $colorfondo; 
	padding-bottom: 400px;

	p{
				
		font-size: 20px;
		transform: translate(-1175px,290px);
	}

			.main__postre__galeria2__foto4{

				height: 270px;
				width: 400px;
				background-repeat: no-repeat;
				background-size: 100%;
				margin: 1.25rem 1.25rem 1.25rem 5rem  ;
				justify-content: center;
				align-items: center;
				font-size: 1px;


					img{
						height: 270px;
						width: 400px;
						transform: translate(-280px);
					}

			}


}


/* termina foto postre */