@media screen and (min-width:533px) and (max-width:768px){

  




   

    .header{
        
        padding-bottom: 300px;

            .header__logo{
                display: flex;
                justify-content: center;

                    img{
                        padding-right: 40px;
                    }
                    
            }

            .header__nav{
                font-size:6.5px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-left: 10px;

                
            }




            .header__img{
               margin-top:110px;

            }
            



    }


    /* main  */


    .main{
        border: none;

    }

    .main__galeria1, .main__tortas__galeria1, .main__desayuno__galeria1, .main__merienda__galeria1, .main__pasta__galeria1, .main__postre__galeria1, .main__tortas__galeria1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 500px;
        padding-top: 950px;

                .main__galeria1__foto1, .main__tortas__galeria1__foto1, .main__desayuno__galeria1__foto1, .main__merienda__galeria1__foto1, .main__pasta__galeria1__foto1, .main__postre__galeria1__foto1, .main__tortas__galeria1__foto1{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                        img{
                            width: 100%;
                            height: auto;
                            transform: translate(-80px);
                        }
                          
                }



                .main__galeria1__foto2, .main__tortas__galeria1__foto2, .main__desayuno__galeria1__foto2, .main__merienda__galeria1__foto2, .main__pasta__galeria1__foto2, .main__postre__galeria1__foto2, .main__tortas__galeria1__foto2{

                    img{
                            width: 100%;
                            height: auto;
                            transform: translate(-80px);
                    }

                }



                .main__galeria1__foto3, .main__tortas__galeria1__foto3, .main__desayuno__galeria1__foto3, .main__merienda__galeria1__foto3, .main__pasta__galeria1__foto3, .main__postre__galeria1__foto3, .main__tortas__galeria1__foto3{

                    img{
                            width: 100%;
                            height: auto;
                            transform: translate(-80px);
                    }


                }








    }




    .main__galeria2,.main__tortas__galeria2, .main__desayuno__galeria2, .main__merienda__galeria2, .main__postre__galeria2, .main__tortas__galeria2{
        display: flex;
        flex-direction: column;
        padding-bottom: 500px;
        padding-top: 1350px;


            p{
                padding-right: 100px;

            }


            .main__galeria2__foto4, .main__tortas__galeria2__foto4, .main__desayuno__galeria2__foto4, .main__merienda__galeria2__foto4, .main__postre__galeria2__foto4, .main__tortas__galeria2__foto4{
                        
                        
                img{
                    width: 100%;
                    height: auto;
                    transform: translate(-80px);
                }
                
            }



        .main__galeria2__foto5, .main__tortas__galeria2__foto5, .main__desayuno__galeria2__foto5, .main__merienda__galeria2__foto5, .main__tortas__galeria2__foto5{

            img{
                width: 100%;
                height: auto;
                transform: translate(-80px);
            }

        }



        .main__galeria2__foto6, .main__tortas__galeria2__foto6, .main__desayuno__galeria2__foto6, .main__merienda__galeria2__foto6, .main__tortas__galeria2__foto6{

            img{
                width: 100%;
                height: auto;
                transform: translate(-80px);
            }


        }


            


    }









    .main__galeria3, .main__tortas__galeria3, .main__desayuno__galeria3, .main__merienda__galeria3, .main__tortas__galeria3s{

        display: flex;
        flex-direction: column;
        padding-bottom: 500px;
        padding-top: 1350px;


                p{
                    padding-right: 100px;

                }



                .main__galeria3__foto7, .main__tortas__galeria3__foto7, .main__desayuno__galeria3__foto7, .main__merienda__galeria3__foto7, .main__tortas__galeria3__foto7{

                    img{
                        width: 100%;
                        height: auto;
                        transform: translate(-80px);
                    }

                    
                }





                .main__galeria3__foto8, .main__tortas__galeria3__foto8, .main__merienda__galeria3__foto8, .main__tortas__galeria3__foto8{

                    img{
                        width: 100%;
                        height: auto;
                        transform: translate(-80px);
                    }
        
                }



                .main__galeria3__foto9, .main__tortas__galeria3__foto9, .main__merienda__galeria3__foto9, .main__tortas__galeria3__foto9{

                    img{
                        width: 100%;
                        height: auto;
                        transform: translate(-80px);
                    }
        
        
                }





    }
    
    





    .main__galeria4, .main__tortas__galeria4, .main__merienda__galeria4, .main__tortas__galeria4{

        display: flex;
        flex-direction: column;
        padding-bottom: 500px;
        padding-top: 1350px;

            p{
                padding-right: 100px;

            }


        .main__galeria4__foto10, .main__tortas__galeria4__foto10, .main__merienda__galeria4__foto10, .main__tortas__galeria4__foto10{


            img{
                width: 100%;
                height: auto;
                transform: translate(-80px);
            }



        }





        .main__galeria4__foto11, .main__tortas__galeria4__foto11, .main__merienda__galeria4__foto11, .main__tortas__galeria4__foto11{


            img{
                width: 100%;
                height: auto;
                transform: translate(-80px);
            }


        }



        .main__galeria4__foto12, .main__tortas__galeria4__foto12, .main__merienda__galeria4__foto12, .main__tortas__galeria4__foto12{

            img{
                width: 100%;
                height: auto;
                transform: translate(-80px);
            }
                
        }


     }



     .main__galeria5, .main__merienda__galeria5{

        display: flex;
        flex-direction: column;
        padding-bottom: 600px;
        padding-top: 1350px;


                p{
                    padding-right: 100px;

                }


        .main__galeria5__foto13, .main__merienda__galeria5__foto13{

            img{
                
                 width: 100%;
                 height: auto;
                 transform: translate(-80px);
            }

        }




        .main__galeria5__foto14, .main__merienda__galeria5__foto14{


            img{
                 width: 100%;
                 height: auto;
                 transform: translate(-80px);
            }

        }



        .main__galeria5__foto15{

            img{
                width: 100%;
                height: auto;
                transform: translate(-80px);
            }


            

        
        }


    }



    /* footer */



    .footer{
        display: flex;
        flex-direction: column;
        padding-top: 500px;




        .footer__cookpad{
            padding-left: 10px;
            padding-bottom: 150px;

        }




        .footer__instagram{

            padding-left: 15px;
            transform: translate(0px,-98px);


        }



        .footer__twitter{
            transform: translate(0,-140px);
            transform: translate(0px,-140px);

        }



        .footer__formulario{

            transform: translate(0px,-98px);

        }




    }



    /* links recetas */

    .logo__responsive{
        display: flex;
        justify-content: center;

    }



    .nav__responsive{

        display: flex;
        justify-content: center;

    }




    .ajuda{

        width: 100%;

    }

    .receta{
        
        background-color: rgb(52, 196, 23);
        display: flex;
        flex-direction: column;
        margin-bottom: 1000px;
        width: 100%;

            
                ul{
                    margin-top: 30%;

                }


                img{
                    
                    width:100vw;
                    height: auto;
                    
                    

                }


                #receta__texto__info{
                   
                    
                    transform: translate(-470px, 390px);
                    width:87vw;

                }





                #receta__texto__pasos{
                  

                    background-color: gold;
                    transform: translate(-172%, 1350px);
                    width:87vw;
                    max-width: 87vw;
                    
                       

                }


               
        
    }



}













@media screen  and (min-width:320px) and (max-width:360px){

    body{

        width: 500px;


    }




    .header{
        
        padding-bottom: 300px;

            .header__logo{
                display: flex;
                justify-content: center;

                    img{
                        padding-right: 40px;
                    }
                    
            }

            .header__nav{
                font-size:6.5px;
                display: flex;
                padding-left: 50px;

                
            }




            .header__img{
               margin-top:110px;

            }
            



    }


    /* main  */


    .main__galeria1{
        display: flex;
        flex-direction: column;
        padding-bottom: 500px;
        padding-top: 610px;

                .main__galeria1__foto1{
                    
                    
                        img{
                            width: 350px;
                            transform: translate(-40px);
                        }
                          
                }



                .main__galeria1__foto2{

                    img{
                        width: 350px;
                        transform: translate(-40px);
                    }

                }



                .main__galeria1__foto3{

                    img{
                        width: 350px;
                        transform: translate(-40px);
                    }


                }








    }




    .main__galeria2{
        display: flex;
        flex-direction: column;
        padding-bottom: 500px;
        padding-top: 610px;


            p{
                padding-right: 140px;

            }


            .main__galeria2__foto4{
                        
                        
                img{
                    width: 350px;
                    transform: translate(-40px);
                }
                
            }



        .main__galeria2__foto5{

            img{
                width: 350px;
                transform: translate(-40px);
            }

        }



        .main__galeria2__foto6{

            img{
                width: 350px;
                transform: translate(-40px);
            }


        }


            


    }









    .main__galeria3{

        display: flex;
        flex-direction: column;
        padding-bottom: 500px;
        padding-top: 610px;


                p{
                    padding-right: 140px;

                }



                .main__galeria3__foto7{

                    img{
                        width: 350px;
                        transform: translate(-40px);
                    }

                    
                }





                .main__galeria3__foto8{

                    img{
                        width: 350px;
                        transform: translate(-40px);
                    }
        
                }



                .main__galeria3__foto9{

                    img{
                        width: 350px;
                        transform: translate(-40px);
                    }
        
        
                }





    }
    
    





    .main__galeria4{

        display: flex;
        flex-direction: column;
        padding-bottom: 500px;
        padding-top: 610px;

            p{
                padding-right: 100px;

            }


        .main__galeria4__foto10{


            img{
                width: 350px;
                transform: translate(-40px);
            }



        }





        .main__galeria4__foto11{


            img{
                width: 350px;
                transform: translate(-40px);
            }


        }



        .main__galeria4__foto12{

            img{
                width: 350px;
                transform: translate(-40px);
            }
                
        }


     }



     .main__galeria5{

        display: flex;
        flex-direction: column;
        padding-bottom: 600px;
        padding-top: 610px;


                p{
                    padding-right: 100px;

                }


        .main__galeria5__foto13{

            img{
                width: 350px;
                transform: translate(-40px);
            }

        }




        .main__galeria5__foto14{


            img{
                width: 350px;
                transform: translate(-40px);
            }

        }



        .main__galeria5__foto15{

            img{
                width: 350px;
                transform: translate(-40px);
            }


            

        
        }


    }



    /* footer */



    .footer{
        display: flex;
        flex-direction: column;




        .footer__cookpad{
            padding-left: 10px;
            padding-bottom: 80px;

        }




        .footer__instagram{

            padding-left: 15px;


        }



        .footer__twitter{
            transform: translate(0,-140px);

        }



        .footer__formulario{

            transform: translate(0px,-560px);

        }




    }












    /* recetas */


    .receta{
        
        background-color: blueviolet;
    }








    
}



     