@media screen and (max-width:768px){


    body{
    width: 100%;
    height: 100%;


    }

    .header{
        
        padding-bottom: 300px;

            .header__logo{
                display: flex;
                justify-content: center;

                    img{
                        padding-right: 40px;
                    }
                    
            }

            .header__nav{
                font-size:6.5px;
                display: flex;
                padding-left: 10px;

                
            }




            .header__img{
               margin-top:98px;

            }
            



    }


    /* main  */


    .main__galeria1{
        display: flex;
        flex-direction: column;
        padding-bottom: 500px;
        padding-top: 610px;

                .main__galeria1__foto1{
                    
                    
                        img{
                            width: 350px;
                            transform: translate(-70px);
                        }
                          
                }



                .main__galeria1__foto2{

                    img{
                        width: 350px;
                        transform: translate(-70px);
                    }

                }



                .main__galeria1__foto3{

                    img{
                        width: 350px;
                        transform: translate(-70px);
                    }


                }








    }




    .main__galeria2{
        display: flex;
        flex-direction: column;
        padding-bottom: 500px;
        padding-top: 610px;


            p{
                padding-right: 100px;

            }


            .main__galeria2__foto4{
                        
                        
                img{
                    width: 350px;
                    transform: translate(-70px);
                }
                
            }



        .main__galeria2__foto5{

            img{
                width: 350px;
                transform: translate(-70px);
            }

        }



        .main__galeria2__foto6{

            img{
                width: 350px;
                transform: translate(-70px);
            }


        }


            


    }









    .main__galeria3{

        display: flex;
        flex-direction: column;
        padding-bottom: 500px;
        padding-top: 610px;


                p{
                    padding-right: 100px;

                }



                .main__galeria3__foto7{

                    img{
                        width: 350px;
                        transform: translate(-70px);
                    }

                    
                }





                .main__galeria3__foto8{

                    img{
                        width: 350px;
                        transform: translate(-70px);
                    }
        
                }



                .main__galeria3__foto9{

                    img{
                        width: 350px;
                        transform: translate(-70px);
                    }
        
        
                }





    }
    
    





    .main__galeria4{

        display: flex;
        flex-direction: column;
        padding-bottom: 500px;
        padding-top: 610px;

            p{
                padding-right: 100px;

            }


        .main__galeria4__foto10{


            img{
                width: 350px;
                transform: translate(-70px);
            }



        }





        .main__galeria4__foto11{


            img{
                width: 350px;
                transform: translate(-70px);
            }


        }



        .main__galeria4__foto12{

            img{
                width: 350px;
                transform: translate(-70px);
            }
                
        }


     }



     .main__galeria5{

        display: flex;
        flex-direction: column;
        padding-bottom: 600px;
        padding-top: 610px;


                p{
                    padding-right: 100px;

                }


        .main__galeria5__foto13{

            img{
                width: 350px;
                transform: translate(-70px);
            }

        }




        .main__galeria5__foto14{


            img{
                width: 350px;
                transform: translate(-70px);
            }

        }



        .main__galeria5__foto15{

            img{
                width: 350px;
                transform: translate(-70px);
            }


            

        
        }


    }



    /* footer */



    .footer{
        display: flex;
        flex-direction: column;




        .footer__cookpad{
            padding-left: 10px;
            padding-bottom: 80px;

        }




        .footer__instagram{

            padding-left: 15px;


        }



        .footer__twitter{
            transform: translate(0,-140px);

        }



        .footer__formulario{

            transform: translate(0px,-560px);

        }




    }

    







}







/* tablet */


@media screen and (max-width:1024px){

    
    body{
        width: 100%;
        height: 100%;
    
    
        }
    
        .header{
            
            padding-bottom: 300px;
    
                .header__logo{
                    display: flex;
                    justify-content: center;
    
                        img{
                            padding-right: 200px;
                        }
                        
                }
    
                .header__nav{
                    font-size:6.5px;
                    display: flex;
                    padding-left: 10px;
    
                    
                }
    
    
    
    
                .header__img{
                   margin-top:98px;
    
                }
                
    
    
    
        }
    
    
        /* main  */
    
    
        .main__galeria1{
            display: flex;
            flex-direction: column;
            padding-bottom: 500px;
            padding-top: 610px;
    
                    .main__galeria1__foto1{
                        
                        
                            img{
                                width: 350px;
                                transform: translate(-70px);
                            }
                              
                    }
    
    
    
                    .main__galeria1__foto2{
    
                        img{
                            width: 350px;
                            transform: translate(-70px);
                        }
    
                    }
    
    
    
                    .main__galeria1__foto3{
    
                        img{
                            width: 350px;
                            transform: translate(-70px);
                        }
    
    
                    }
    
    
    
    
    
    
    
    
        }
    
    
    
    
        .main__galeria2{
            display: flex;
            flex-direction: column;
            padding-bottom: 500px;
            padding-top: 610px;
    
    
                p{
                    padding-right: 100px;
    
                }
    
    
                .main__galeria2__foto4{
                            
                            
                    img{
                        width: 350px;
                        transform: translate(-70px);
                    }
                    
                }
    
    
    
            .main__galeria2__foto5{
    
                img{
                    width: 350px;
                    transform: translate(-70px);
                }
    
            }
    
    
    
            .main__galeria2__foto6{
    
                img{
                    width: 350px;
                    transform: translate(-70px);
                }
    
    
            }
    
    
                
    
    
        }
    
    
    
    
    
    
    
    
    
        .main__galeria3{
    
            display: flex;
            flex-direction: column;
            padding-bottom: 500px;
            padding-top: 610px;
    
    
                    p{
                        padding-right: 100px;
    
                    }
    
    
    
                    .main__galeria3__foto7{
    
                        img{
                            width: 350px;
                            transform: translate(-70px);
                        }
    
                        
                    }
    
    
    
    
    
                    .main__galeria3__foto8{
    
                        img{
                            width: 350px;
                            transform: translate(-70px);
                        }
            
                    }
    
    
    
                    .main__galeria3__foto9{
    
                        img{
                            width: 350px;
                            transform: translate(-70px);
                        }
            
            
                    }
    
    
    
    
    
        }
        
        
    
    
    
    
    
        .main__galeria4{
    
            display: flex;
            flex-direction: column;
            padding-bottom: 500px;
            padding-top: 610px;
    
                p{
                    padding-right: 100px;
    
                }
    
    
            .main__galeria4__foto10{
    
    
                img{
                    width: 350px;
                    transform: translate(-70px);
                }
    
    
    
            }
    
    
    
    
    
            .main__galeria4__foto11{
    
    
                img{
                    width: 350px;
                    transform: translate(-70px);
                }
    
    
            }
    
    
    
            .main__galeria4__foto12{
    
                img{
                    width: 350px;
                    transform: translate(-70px);
                }
                    
            }
    
    
         }
    
    
    
         .main__galeria5{
    
            display: flex;
            flex-direction: column;
            padding-bottom: 600px;
            padding-top: 610px;
    
    
                    p{
                        padding-right: 100px;
    
                    }
    
    
            .main__galeria5__foto13{
    
                img{
                    width: 350px;
                    transform: translate(-70px);
                }
    
            }
    
    
    
    
            .main__galeria5__foto14{
    
    
                img{
                    width: 350px;
                    transform: translate(-70px);
                }
    
            }
    
    
    
            .main__galeria5__foto15{
    
                img{
                    width: 350px;
                    transform: translate(-70px);
                }
    
    
                
    
            
            }
    
    
        }
    
    
    
        /* footer */
    
    
    
        .footer{
            display: flex;
            flex-direction: column;
    
    
    
    
            .footer__cookpad{
                padding-left: 10px;
                padding-bottom: 80px;
    
            }
    
    
    
    
            .footer__instagram{
    
                padding-left: 15px;
    
    
            }
    
    
    
            .footer__twitter{
                transform: translate(0,-140px);
    
            }
    
    
    
            .footer__formulario{
    
                transform: translate(0px,-560px);
    
            }
    
    
    
    
        }




















}


     