header {
  background-color: #00ecec;
  height: 9.3rem;
}

header .header__logo img {
  float: left;
  width: 11rem;
  /* 120 */
  height: auto;
  padding: 0 0 0 2.1875rem;
  /* 35 */
}

header .header__nav {
  padding-top: 3.125rem;
  /* 50 */
}

header .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header__nav ul li {
  text-decoration: none;
  margin-right: 1.25rem;
  /* 20 */
  border: 2px solid;
  border-color: black;
  border-radius: 0.375rem;
  /* 6 */
  padding: 0.3125rem;
  /* 5 */
  font-size: 1.1875em;
  /* 19 */
  background-color: black;
}

header .header__nav ul li a {
  color: white;
}

header .header__img {
  background-image: url(../imagens/banner.jpg);
  background-size: 12.5rem;
  /* 200 */
  background-position: center top;
  background-repeat: repeat;
  height: 18.75rem;
  /* 300 */
  margin-top: 59px;
}

.main {
  border: 2px solid;
  border-radius: 6px;
}

.main .main__intro {
  margin-top: 18.75rem;
  /* 300 */
  background-color: #1bc5f0;
  height: 1.875rem;
  /* 30 */
}

.main .main__intro .main__intro__titulo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.875rem;
  /* 30 */
  text-align: center;
  line-height: normal;
}

.main__galeria1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__galeria1 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__galeria1 .main__galeria1__foto1 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria1 .main__galeria1__foto2 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria1 .main__galeria1__foto3 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__galeria2 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__galeria2 .main__galeria2__foto4 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria2 .main__galeria2__foto5 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria2 .main__galeria2__foto6 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__galeria3 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__galeria3 .main__galeria3__foto7 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria3 .main__galeria3__foto8 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria3 .main__galeria3__foto9 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__galeria4 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__galeria4 .main__galeria4__foto10 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria4 .main__galeria4__foto11 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria4 .main__galeria4__foto12 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__galeria5 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__galeria5 .main__galeria5__foto13 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria5 .main__galeria5__foto14 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__galeria5 .main__galeria5__foto15 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

/* fotos tortas */
.main__tortas__galeria1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__tortas__galeria1 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__tortas__galeria1 .main__tortas__galeria1__foto1 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__tortas__galeria1 .main__tortas__galeria1__foto2 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__tortas__galeria1 .main__tortas__galeria1__foto3 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__tortas__galeria2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__tortas__galeria2 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__tortas__galeria2 .main__tortas__galeria2__foto4 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__tortas__galeria2 .main__tortas__galeria2__foto5 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__tortas__galeria2 .main__tortas__galeria2__foto6 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__tortas__galeria3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__tortas__galeria3 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__tortas__galeria3 .main__tortas__galeria3__foto7 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__tortas__galeria3 .main__tortas__galeria3__foto8 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__tortas__galeria3 .main__tortas__galeria3__foto9 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__tortas__galeria4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__tortas__galeria4 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__tortas__galeria4 .main__tortas__galeria4__foto10 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__tortas__galeria4 .main__tortas__galeria4__foto11 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__tortas__galeria4 .main__tortas__galeria4__foto12 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

/* termina fotos tortas */
/* fotos pasta */
.main__pasta__galeria1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 500px;
}

.main__pasta__galeria1 div {
  padding-top: 100px;
}

.main__pasta__galeria1 div p {
  -webkit-transform: translate(100px);
          transform: translate(100px);
  font-size: 20px;
}

.main__pasta__galeria1 div .main__pasta__galeria1__foto1 {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
  background-color: blue;
}

.main__pasta__galeria1 div .main__pasta__galeria1__foto1 img {
  height: 270px;
  width: 400px;
}

.main__pasta__galeria1 div .main__pasta__galeria1__foto2 {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
  background-color: blue;
}

.main__pasta__galeria1 div .main__pasta__galeria1__foto2 img {
  height: 270px;
  width: 400px;
}

.main__pasta__galeria1 div .main__pasta__galeria1__foto3 {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
  background-color: blue;
}

.main__pasta__galeria1 div .main__pasta__galeria1__foto3 img {
  height: 270px;
  width: 400px;
}

/* termina foto pasta */
/* fotos merienda */
.main__merienda__galeria1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__merienda__galeria1 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__merienda__galeria1 .main__merienda__galeria1__foto1 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria1 .main__merienda__galeria1__foto2 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria1 .main__merienda__galeria1__foto3 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__merienda__galeria2 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__merienda__galeria2 .main__merienda__galeria2__foto4 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria2 .main__merienda__galeria2__foto5 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria2 .main__merienda__galeria2__foto6 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__merienda__galeria3 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__merienda__galeria3 .main__merienda__galeria3__foto7 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria3 .main__merienda__galeria3__foto8 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria3 .main__merienda__galeria3__foto9 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__merienda__galeria4 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__merienda__galeria4 .main__merienda__galeria4__foto10 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria4 .main__merienda__galeria4__foto11 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria4 .main__merienda__galeria4__foto12 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__merienda__galeria5 p {
  font-size: 20px;
  -webkit-transform: translate(80px, 4px);
          transform: translate(80px, 4px);
}

.main__merienda__galeria5 .main__merienda__galeria5__foto13 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__merienda__galeria5 .main__merienda__galeria5__foto14 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

/* termina fotos merienda */
/* Desayunos */
.main__desayuno__galeria1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__desayuno__galeria1 p {
  font-size: 20px;
  -webkit-transform: translate(-420px, 290px);
          transform: translate(-420px, 290px);
}

.main__desayuno__galeria1 .main__desayuno__galeria1__foto1 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__desayuno__galeria1 .main__desayuno__galeria1__foto2 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__desayuno__galeria1 .main__desayuno__galeria1__foto3 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__desayuno__galeria2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__desayuno__galeria2 p {
  font-size: 20px;
  -webkit-transform: translate(-420px, 290px);
          transform: translate(-420px, 290px);
}

.main__desayuno__galeria2 .main__desayuno__galeria2__foto4 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__desayuno__galeria2 .main__desayuno__galeria2__foto5 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__desayuno__galeria2 .main__desayuno__galeria2__foto6 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__desayuno__galeria3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__desayuno__galeria3 p {
  font-size: 20px;
  -webkit-transform: translate(-1200px, 290px);
          transform: translate(-1200px, 290px);
}

.main__desayuno__galeria3 .main__desayuno__galeria3__foto7 img {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
  -webkit-transform: translate(-300px);
          transform: translate(-300px);
}

/* termina desayunos */
/* fotos postre */
.main__postre__galeria1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
  padding-left: 120px;
}

.main__postre__galeria1 p {
  font-size: 20px;
  -webkit-transform: translate(-420px, 290px);
          transform: translate(-420px, 290px);
}

.main__postre__galeria1 .main__postre__galeria1__foto1 {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__postre__galeria1 .main__postre__galeria1__foto1 img {
  height: 270px;
  width: 400px;
}

.main__postre__galeria1 .main__postre__galeria1__foto2 {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__postre__galeria1 .main__postre__galeria1__foto2 img {
  height: 270px;
  width: 400px;
}

.main__postre__galeria1 .main__postre__galeria1__foto3 {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__postre__galeria1 .main__postre__galeria1__foto3 img {
  height: 270px;
  width: 400px;
}

.main__postre__galeria2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18.75rem;
  /* 300 */
  margin: auto;
  background-color: #17ffff;
  padding-bottom: 400px;
}

.main__postre__galeria2 p {
  font-size: 20px;
  -webkit-transform: translate(-1175px, 290px);
          transform: translate(-1175px, 290px);
}

.main__postre__galeria2 .main__postre__galeria2__foto4 {
  height: 270px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.25rem 1.25rem 1.25rem 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1px;
}

.main__postre__galeria2 .main__postre__galeria2__foto4 img {
  height: 270px;
  width: 400px;
  -webkit-transform: translate(-280px);
          transform: translate(-280px);
}

/* termina foto postre */
.footer {
  background-color: #17ffff;
  padding-top: 6.25rem;
  /* 100 */
  padding-bottom: 1.75rem;
  /* 300 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__info {
  font-size: 1.875rem;
  /* 30 */
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-decoration: white;
          text-decoration: white;
  padding-bottom: 6.25rem;
  /* 100 */
}

.footer .footer__info a {
  color: black;
}

.footer img {
  width: 12.5rem;
  /* 200 */
}

.footer .footer__instagram {
  background: #17ffff;
  width: 12.5rem;
  /* 200 */
  height: 12.5rem;
  /* 200 */
  -webkit-transform: translate(-10px, -60px);
          transform: translate(-10px, -60px);
  /* -10 -60 */
}

.footer .footer__twitter {
  background-color: #17ffff;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.footer .footer__formulario {
  font-size: 1.875rem;
  /* 30 */
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-decoration: white;
          text-decoration: white;
  -webkit-transform: translate(-50px, 16px);
          transform: translate(-50px, 16px);
}

.footer .footer__formulario a {
  color: black;
}

@media screen and (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer img {
    width: 150px;
  }
  .footer .footer__cookpad {
    padding-right: 55px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 500px;
  }
  .header__logo {
    height: auto;
    width: auto;
  }
  .header__img {
    background-size: 100%;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 70px;
    margin-bottom: -35px;
  }
  .header__nav ul {
    font-size: 7px;
    padding-right: 800px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    width: 990px;
  }
  .header__logo {
    height: auto;
    width: auto;
  }
  .header__logo img {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 250px;
    margin-bottom: -35px;
    padding-bottom: 100px;
  }
  .header__nav ul {
    width: 80vh;
    font-size: 13px;
  }
  .header__nav ul li {
    -webkit-transform: translate(-60px, 100px);
            transform: translate(-60px, 100px);
  }
}

/* main */
@media screen and (max-width: 768px) {
  main {
    margin-top: -250px;
    width: 94.5vh;
  }
  main .main__galeria1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-bottom: -280px;
  }
  main .main__galeria1 .main__galeria1__foto1 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria1 .main__galeria1__foto1 img {
    width: 70vh;
  }
  main .main__galeria1 .main__galeria1__foto2 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria1 .main__galeria1__foto2 img {
    width: 70vh;
  }
  main .main__galeria1 .main__galeria1__foto3 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria1 .main__galeria1__foto3 img {
    width: 70vh;
  }
  main .main__galeria2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-bottom: -280px;
  }
  main .main__galeria2 .main__galeria2__foto4 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria2 .main__galeria2__foto4 img {
    width: 70vh;
  }
  main .main__galeria2 .main__galeria2__foto5 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria2 .main__galeria2__foto5 img {
    width: 70vh;
  }
  main .main__galeria2 .main__galeria2__foto6 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria2 .main__galeria2__foto6 img {
    width: 70vh;
  }
  main .main__galeria3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-bottom: -280px;
  }
  main .main__galeria3 .main__galeria3__foto7 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria3 .main__galeria3__foto7 img {
    width: 70vh;
  }
  main .main__galeria3 .main__galeria3__foto8 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria3 .main__galeria3__foto8 img {
    width: 70vh;
  }
  main .main__galeria3 .main__galeria3__foto9 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria3 .main__galeria3__foto9 img {
    width: 70vh;
  }
  main .main__galeria4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-bottom: -280px;
  }
  main .main__galeria4 .main__galeria4__foto10 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria4 .main__galeria4__foto10 img {
    width: 70vh;
  }
  main .main__galeria4 .main__galeria4__foto11 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria4 .main__galeria4__foto11 img {
    width: 70vh;
  }
  main .main__galeria4 .main__galeria4__foto12 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria4 .main__galeria4__foto12 img {
    width: 70vh;
  }
  main .main__galeria5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-bottom: -280px;
  }
  main .main__galeria5 .main__galeria5__foto13 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria5 .main__galeria5__foto13 img {
    width: 70vh;
  }
  main .main__galeria5 .main__galeria5__foto14 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria5 .main__galeria5__foto14 img {
    width: 70vh;
  }
  main .main__galeria5 .main__galeria5__foto15 {
    height: 70vh;
    width: 70vh;
  }
  main .main__galeria5 .main__galeria5__foto15 img {
    width: 70vh;
  }
}

@media screen and (max-width: 1024px) {
  .main__galeria1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 18.75rem;
    /* 300 */
    margin: auto;
    background-color: #17ffff;
  }
  .main__galeria2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 18.75rem;
    /* 300 */
    margin: auto;
    background-color: #17ffff;
  }
  .main__galeria3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 18.75rem;
    /* 300 */
    margin: auto;
    background-color: #17ffff;
  }
  .main__galeria4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 18.75rem;
    /* 300 */
    margin: auto;
    background-color: #17ffff;
  }
  .main__galeria5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 18.75rem;
    /* 300 */
    margin: auto;
    background-color: #17ffff;
  }
}

/* footer */
@media screen and (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 5px;
  }
  .footer .footer__info {
    padding-left: 10px;
  }
  .footer .footer__cookpad {
    -webkit-transform: translate(10px, -60px);
            transform: translate(10px, -60px);
  }
  .footer .footer__instagram {
    padding-top: 20px;
    padding-left: 20px;
  }
  .footer .footer__twitter {
    -webkit-transform: translate(0px, -100px);
            transform: translate(0px, -100px);
  }
  .footer .footer__formulario {
    padding-left: 20px;
    -webkit-transform: translate(0px, -70px);
            transform: translate(0px, -70px);
  }
}
/*# sourceMappingURL=style.css.map */